@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, #root {
    @apply h-full;
}
html {
    @apply w-[375px] m-auto bg-slate-950;
}
dialog::backdrop {
    @apply backdrop-blur-sm bg-no-repeat bg-cover bg-center;
}

.woodcutter{
    background-image: url('../public/images/woodcutter.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.begging{
    background-image: url('../public/images/begging.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -150px;
}
.fishing {
    background-image: url('../public/images/fishing.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -150px;
}
.market::backdrop{
    background-image: url('../public/images/market.jpeg');
}

.inventory::backdrop {
    background-image: url('../public/images/inventory.jpeg');
}

.equipment::backdrop {
    background-image: url('../public/images/equipment.jpeg');
}

.gift::backdrop {
    background-image: url('../public/images/reward-chest.jpeg');
}

.travel::backdrop {
    background-image: url('../public/images/travel.jpg');
}